/* ---------------Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap');


/* ---------------General settings---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #1E1629;
    --color2: #7b287d;
    --color3: #7c287d8c;
    --font-color: #fff;
    font-family: 'Roboto Mono', monospace;
}

/* ---------------Nav Bar---------------*/
.container-nav nav {
    background-color: rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.297));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0px;
}

.container-nav nav a {
    color: var(--font-color);
    text-decoration: none;
    margin: 0px 20px;
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;

}

.container-nav nav a::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: var(--color3);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.container-nav nav a:hover::before {
    opacity: 1;
}

.container-nav nav a::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -2;
    border-radius: 10px;
}

.container-nav nav a:hover {
    color: var(--font-color);
}

.container-nav nav a:hover::after {
    opacity: 0;
}



/* ---------------Home Section---------------*/

.home {
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
}